@import "tailwindcss";

@theme {
  
  --color-background: #070F2B;    
  --color-surface: #1B1A55; 
  --color-accent: #535C91;  
  --color-text: #9290C3;    
  
}

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}